.table-schedule {
  font-size: large;
  text-indent: 5px;
}

.no-indent {
  text-indent: 0px !important;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.container {
  width: 500px;
}

.control-item {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 260px;
  margin-left: 0px;
  margin-right: auto;
}

.control-label {
  display: inline-block;
  width: 120px;
  font-size: large;
  vertical-align: middle;
  text-align: right;
  padding-right: 7px;
}

.control-input {
  display: inline-block;
  width: 110px;
}

.control-input > .dropdown-toggle {
  text-align: right;
}

.dropdown-menu {
  min-width: 100%;
}

.dropdown-menu > li > a {
  line-height: 35px;
  vertical-align: middle;
  font-size: large;
  text-align: right;
}

input:read-only {
  background-color: white !important;
}

.toggle.btn {
  text-indent: 0px !important;
}