.btn-xl {
  padding: 15px 20px 0px;
  font-size: 60px;
}

.btn-calibrate {
  font-size: 18px;
}

.display {
  padding-top: 50px;
  text-align: right;
}

#power {
  font-size: 30px;
}

#temperature {
  font-size: 90px;
}

.table {
  width: auto;
}

.table > tbody > tr > td {
 vertical-align: middle;
}

.container {
  width: 500px;
}

.control-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.control-label {
  display: inline-block;
  width: 100px;
}

.control-input {
  display: inline-block;
}
