.btn-xl {
  padding: 15px 20px 0px;
  font-size: 60px;
}

.btn-calibrate {
  font-size: 18px;
}

.display {
  padding-top: 50px;
  text-align: right;
}

#power {
  font-size: 30px;
}

#temperature {
  font-size: 90px;
}

.table-schedule {
  font-size: large;
  text-indent: 5px;
}

.no-indent {
  text-indent: 0px !important;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.container {
  width: 500px;
}

.control-item {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 260px;
  margin-left: 0px;
  margin-right: auto;
}

.control-label {
  display: inline-block;
  width: 110px;
  font-size: large;
  vertical-align: middle;
  text-align: right;
  padding-right: 7px;
}

.control-input {
  display: inline-block;
  width: 130px;
}

input:read-only {
  background-color: white !important;
}

.toggle.btn {
  text-indent: 0px !important;
}